/* */
html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  &.transparent {
    background-color: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PAPYRUS', cursive;
  font-weight: bold;
}

.white-background {
  background-color: #fff;
}

.well.dark {
  background-color: #282828;
  color: #fff;

  & .grey {
    color: #999;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  body {
	 background-color: transparent;
  }
}