<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
    <img src="images/rafa-logo-1024.png" alt="Logo" class="img-responsive center-block">
  </div>
</div>

<div class="row marketing white text-right">
  <h1>Bienvenido</h1>
  <p>
    Esta es mi página personal y un trabajo en proceso.<br>
    De momento hay un breve resumen de los servicios profesionales que realizo así como algunos de mis pasatiempos, sobre todo la fotografía, que se ha convertido en más que un hobby.
  </p>
</div>
