<div class="row white-background border-radius-8">

  <div class="space-15 hidden-xs"></div>

  <div class="col-sm-12">
    <div class="well dark text-center no-padding-top no-padding-left no-padding-right">
      <img src="images/img_a6c380b72caaede05a94b79ce15ab0ff.jpg"
           class="img-responsive border-radius-top-4" width="1560">
      <h1>~ Mini-Blog ~</h1>
      <span class="grey"><em><b>Pequeñas ideas o proyectos para el sitio.</b></em></span>
    </div>
  </div>

  <div class="col-sm-12">

    <div class="row">

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>¿Qué es esta sección?</h4></div>
          <div class="panel-body">
            No soy realmente fan de los blogs, así que este no será uno.  Las entradas serán pequeñas ideas o proyectos en los que estoy trabajando para mejorar el sitio y más bien pretenden ser un auto-recordatorio más que cualquier otra cosa.
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Noticias, ideas y proyectos</h4></div>
          <div class="panel-body">
            <p><i class="grey">24 de mayo, 2016</i></p>
            Empiezo una nueva página web, esta vez optimizada para dispositivos móviles
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Agradecimientos</h4></div>
          <div class="panel-body">
            <ul>
              <li>A la Pao, que me ayudará mucho en este nuevo proyecto</li>
              <li>A mi papi, a quien siempre consulto este tipo de cosas</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="space-30"></div>
